footer {
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: var(--main-border-color-dark);
  /* box-shadow: -6px 11px 20px 4px rgba(0, 0, 0, 1); */
  user-select: none;
}
.loading-icon {
  width: 5rem;
  display: block;
  margin: 0 auto;
  outline: none;
}

#footer-text {
  padding: 0;
  margin: 0;
}
nav {
  border-bottom: var(--main-border-color-dark);
  /* background-color: rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0px -12px 20px 4px rgba(0, 0, 0, 1); */
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
nav h2 {
  margin: 0;
}
nav a {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  background-color: var(--hover-color-dark);
}

.home-icon {
  height: 2rem;
}
.nav-link {
  transition: background-color 0.5s ease;
  /* background-color: rgba(0, 0, 0, 0.05); */
  cursor: pointer;
}
.nav-link:last-child {
  margin-left: auto;
}

#main-content {
  flex-grow: 1;
  margin: 3rem;
}

.input {
  all: unset;
  cursor: text;
  border-radius: var(--border-radius);
  padding: 0.2rem;
  background-color: rgb(20, 20, 31);
  color: white;
  text-align: left;
}

input:focus {
  outline: 2px solid dodgerblue;
}

.form-button {
  border: none;
  margin: 0;
  font: inherit;
  color: inherit;
  box-shadow: none;
  appearance: none;
  cursor: pointer;
  text-align: center;
  padding: 0.3rem;
  background-color: var(--main-background-color-dark);
  border: var(--main-border-color-dark);
  border-radius: var(--border-radius);
  transition: background-color 0.5s ease;
}

.form-button:hover {
  background-color: var(--hover-color-dark);
}

.logout-button {
  border: none;
  margin: 0;
  font: inherit;
  color: inherit;
  box-shadow: none;
  appearance: none;
  background-color: var(--main-background-color-dark);
  padding: 0.5rem;
}

.submit-button {
  color: white;
  background-color: green;
  border: none;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  user-select: none;
  cursor: pointer;
  margin-top: 1rem;
}
.submit-button:hover {
  background-color: rgb(2, 172, 2);
}

.dim-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* pointer-events: none; */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}