.info-block {
  margin: 1rem;
  padding: 0.5rem;
  /* border-radius: 10px; */
  border-bottom: 1px solid gray;
  /* box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.52); */
  align-items: center;
  justify-content: center;
}
.col-block {
  padding: 0.5rem;
  text-align: center;
}
img {
  margin: 0;
  padding: 0;
  width: 100%;
}
.home-row {
  display: flex;
  flex-direction: row;
}
.content-col {
  width: 50%;
}
@media (max-width: 768px) {
  h1 {
    margin: 0;
  }
  .home-row {
    display: flex;
    flex-direction: column;
  }
  .content-col {
    width: 100%;
  }
  .reverse-txt {
    order: 2;
  }
  .reverse-img {
    order: 1;
  }
  .banner-text {
    /* padding: 1rem; */
  }
}
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("src/assets/finance.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
}
.banner-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  /* padding: 10rem; */
  height: 25rem;
  text-shadow: 0px 2px 20px #23430c;
}
