:root {
  font-family: "Asap Condensed", "Montserrat", "Roboto", sans-serif;
  background-color: rgb(20, 20, 31);
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  --main-background-color-dark: rgb(20, 20, 31);
  --sub-background-color-dark: rgb(44, 44, 63);
  --main-border-color-dark: 1px solid rgb(58, 58, 90);
  --sub-border-color-dark: 1px solid rgb(83, 83, 128);
  --hover-color-dark: rgb(58, 58, 90);
  --ligher-hover-color-dark: rgb(82, 82, 129);
  --border-radius: 0.5rem;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin: 0 auto;
  width: 30rem;
}
input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 24px !important;
}
p {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.container-color-dark {
  background-color: var(--sub-background-color-dark);
  border-radius: var(--border-radius);
}

.inactive {
  user-select: none;
  pointer-events: none;
  background-color: var(--hover-color-dark) !important;
  color: grey !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}
/* html {
  height: 100vh;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
