.user-container {
  margin: 3rem;
}

.category-container {
  background-color: rgb(44, 44, 63);
}

.create-category-button {
  font-size: 200%;
  display: inline;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  /* border: 1px solid black; */
  border-radius: var(--border-radius);
  padding: 2rem;
  margin: 0 auto;
  width: 30rem;
  background-color: rgb(44, 44, 63);
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 1); */
}

.back-button {
  margin-top: 1rem;
}
.categories-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.category {
  cursor: pointer;
  /* max-width: 18rem; */
  padding: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(20% - 1rem);
  min-height: 15rem;
}

.create-category-form {
  display: flex;
  flex-direction: column;
  /* position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  text-align: center;
  z-index: 6969;
  width: 25rem;
  padding: 1rem;
  /* background-color: #c3d7f7 !important; */
  /* box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.5),
    0 0 0 999em rgba(0, 0, 0, 0.8); */
  border-radius: 1rem;
}

.create-category-form > .input {
  /* margin-left: 1rem; */
  /* margin-right: 1rem; */
  margin-bottom: 1rem;
}
